<style>
  body {
    background: linear-gradient(to bottom, #c7ffee, #cbebf1)
  }

  .cart-btn {
    transition: all .5s ease;
  }

  .cart-btn:hover {
    transform: scale(1.1)
  }
</style>
<div class="container" style="margin-top: 20px;">

  <div class="row">
    {{#each product}}
    <div class="col-sm-3" style="margin-left: 0px; height: 500px;margin-top:10;margin-top:20px">
      <div class="card p-3"
        style="width: 15rem; height:100%;box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;">
        <img src="/images/product/{{this.Image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">{{this.Product_id}}</h6>
          <h5 class="card-title">{{this.Product_name}}</h5>
          <p class="card-text">{{this.Description}}</p>
          <p class="card-text">₹ {{this.Price}}</p>
        </div>
        <div class="bottom">
          <a href="/users/addtoCart/{{this.id}}" class="btn btn-primary cart-btn">Add to Cart</a>
          <a href="/users/buynow/{{this.id}}/{{this.Price}}/1/{{this.sellerID}}" class="btn btn-warning cart-btn">Buy
            Now</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>